$color1     : #1f2041
$color1-75  : rgba($color1, 0.75)
$color1-50  : rgba($color1, 0.5)
$color1-25  : rgba($color1, 0.25)
$color1-5   : rgba($color1, 0.05)
$color2     : #bc9cff
$color2-grad: #8ba4f9
$color3     : #6fcf97


$mainBGcolor     : #fff
$secondBGcolor   : #e5e5e5

$mainFontSize    : 14px
$mainLineHeight  : 24px
$mainFontColor   : $color1-75
$headFontColor   : $color1
