// @import ~normalize.css
@import @/styles/vars
@import @/styles/mixins
@import @/styles/fonts
@import @/styles/extends

*
	box-sizing: border-box
a
	text-decoration: none
	color: inherit

html,
body,
.body
	@extend %body
h1,
.h1
	@extend %h1
h2,
.h2
	@extend %h2
h3,
.h3
	@extend %h3

body
	min-width: 320px
	min-height: 100vh
	background: $mainBGcolor

.container
	margin: 0 auto
	max-width: 1200px
	padding: 0 20px