@import @/styles/vars
@import @/styles/mixins

$colors: ("1": $color1,
"1-75": $color1-75,
"1-50": $color1-50,
"1-25": $color1-25,
"1-5": $color1-5,
"2": $color2,
"3": $color3)

@each $item, $color in $colors
	.color#{$item}
		background-color: $color



.flex-container
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	@media screen and (max-width: 799px)
		flex-direction: column

.colors-type
	.h1,
	.h2,
	.h3,
	.body
		font-family: Montserrat, sans-serif
		font-weight: 400
		text-transform: capitalize

.color-item
	display: flex
	align-items: center
	&__color
		+size(70px)
		border-radius: 6px
	&__desc
		margin-left: 40px
	&__name
		padding-bottom: 6px
	&__text
		font-family: Quicksand, sans-serif
		font-weight: 400
		font-size: rem(19px)
		color: $color1
		
.colors
	padding: 17px 10px
	&__color-item
		margin: 20px 0
	@media screen and (max-width: 799px)
		margin: 0 auto
		padding: 17px 0


.type-item
	display: flex
	& + &
		margin-top: 50px
	&__head
		min-width: 44px
		color: $color1-25
		text-align: right
	&__text
		max-width: 340px
		margin-left: 30px

.type
	margin-top: 17px
	padding: 20px 47px 20px 10px
	&__type-item:last-child
		margin-top: 48px
	@media screen and (max-width: 799px)
		margin: 17px auto
		padding: 20px 0