extends /layout/UI-kit


block variables
	-
		var title = 'Headers & Footers'
		var description = 'UI kit: headers & footers'
		var pageClass = 'headers-footers'


block content
	
	include /modules/headers/header
	
	